@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



 <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 ">
            <div class="d-flex flex-wrap col-12 col-md-auto mb-2 justify-content-center ">
                <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="60" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Story</a></li>
                    <li>



                        <div class="dropdown nav-link px-2 link-secondary">
                            <div class=" dropdown-toggle" id="dropdownMenuButton" id="dropdownUser2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </div>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">New projyhjtyject...</a></li>
                                <li><a class="dropdown-item" href="#">New projtyujfect...</a></li>

                            </ul>
                        </div>
                    </li>


                </ul>
            </div>

            <div class="col-md-4 d-flex me-0 justify-content-md-end ">
                <img src="images/bell.png" alt="mdo" width="32" height="32" class="rounded-circle">
                <div class="flex-shrink-0 dropdown px-3">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/user-img.png" alt="mdo" width="32" height="32" class="rounded-circle"><span
                            class="px-2">Evan donohue</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>

    </div>
    <hr class="m-0 p-0">
