<img src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" id="image-area" class="w-100 h-100" />
<div id="carousel-bottom" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row p-1">
                <div class="col-3 p-1">
                    <img src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
                <div class="col-3 p-1">
                    <img src="images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
                <div class="col-3 p-1">
                    <img src="images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
                <div class="col-3 p-1">
                    <img src="images/Nourish-the-Children-in--African-country.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row p-1">
                <div class="col-3 p-1">
                    <img src="images/Nourish-the-Children-in--African-country.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
                <div class="col-3 p-1">
                    <img src="~/images/Plantation-and-Afforestation-programme.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
                <div class="col-3 p-1">
                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
                <div class="col-3 p-1">
                    <img src="~/images/Plantation-and-Afforestation-programme.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                </div>
            </div>
        </div>
    </div>
     <button class="carousel-control-prev w-auto ps-2 pe-2 bg-black bg-opacity-50 mt-2 mb-2" type="button" data-bs-target="#carousel-bottom" data-bs-slide="prev">
        <img src="~/images/left1.png" aria-hidden="true"/>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next w-auto ps-2 pe-2 bg-black bg-opacity-50  mt-2 mb-2" type="button" data-bs-target="#carousel-bottom" data-bs-slide="next">
        <img src="~/images/right-arrow2.png" aria-hidden="true"/>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    function display(item) {
  let image = document.getElementById("image-area");
  image.src = item.src;
}
</script>